/.ipynb_checkpoints/DR2xml-checkpoint.ipynb
/nb.sh
/sav.ipynb
/spare.py
*~
*.pyc
__pycache__
.ipynb_checkpoints
.ipynb_checkpoints/*
toy/
old/
*#
XIOS_CMIP6/
XIOS_CMIP6.tar
test/*.nc
test/outputs/
/test/xios_client_0.err
/test/xios_*
/anal/*csv
/anal/ref/
/anal/diff_*
/grids
test/dr.xml
/test/run.out
pycallgraph_tree/
dr2xml_*.xml
pycallgraph_use.py
.coverage
create_file_defs.sh
tests/htmlcov
tests/test*/output_*
/sphinx/build/
/dr2xml_list_perso_and_dev_file_names
