sphinx
sphinx_rtd_theme
# Need either dreq and scope or dreqPy (users can modify the requirements file according to the choice made)
# dreq
# scope
dreqPy
CMIP7_data_request_api
coverage
xlsxwriter
six
importlib